@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  /* background-color: #799fb8; */
  /* background-color: #2d6285; */
  background-color: #357096;
}

.pointer {
  cursor: pointer;
}

.navbar {
  background-color: #8997a1;
  padding: .4rem;
}


.navbar-nav li {
  padding-right: 20px;
} /* space between the list items */
.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
} /* so you can see the whole image */

.carousel-caption {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
} /* moves carousel text up into the middle */

.carousel-caption h1 {
  font-size: 300%;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
  font-size: 120%;
  font-weight: 100;
  text-shadow: 1px 1px 4px #000;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c;
} /* bootstrap default is the blue color, this changes it to purple */

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.btn-primary:disabled {
  background: #dddddd;
}

#removeButton {
  background-color: #8f190b;
}

.fa-ethereum {
  font-size: 3.75em;
  margin-bottom: 2rem;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
} /* REDUCES the default padding and border radius of the jumbotron */

.padding {
  padding-bottom: 2rem;
} /* adds a bit more padding on bottom of all
'padding' classes to space stuff out */

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
} /* centers 'welcome' class text and keeps it from running off to the
edges of the page */

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
} /* without adding the border color, this doesn't show up at all */


.fun {
  width: 100%;
  /* margin-bottom: 2rem; */
  background-color: #526a7a;
} /* without this the button is small and just sits on the left side */

.gif {
  max-width: 100%;
} /* without this emoji gifs get cut off vertically in a weird way */



footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 1.5rem;
  line-height: 50%;
} /* nice dark background for footer */

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 30%;
  margin-top: .3rem;
  margin-bottom: .3rem;
  margin-left: auto;
  margin-right: auto;
} /* makes HRs around footer items SMALLER and TIGHTER (and grey) */

footer a {
  color: #d5d5d5;
} /* this is really just for the phone number, since this will show up
as a blue link on cell phones */

.bottomSpacer {
  height: 10rem;
}

/*---Media Queries --*/
/* this section deals with resizing elements for different devices */
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  } /*without this the buttons just disappear on small screen */

  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  } /*makes carousel sliders DISAPPEAR on smallest screen */

  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.light-b-shadow {
  box-shadow: 0px 2px 7px 0px #444444;
}


/* Factory styles */
.factory-caption  {
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.factory-caption h1 {
  font-size: 300%;
  text-shadow: 1px 1px 15px #000;
}

.factory-caption h3 {
  font-size: 145%;
  font-weight: lighter;
  text-shadow: 1px 1px 2px #222324;
}

.catBox {
    background-color: #b7c7df;
    border-radius: 10px;

    /* margin-right: 1em;
    margin-left: 1em; */
}

.catBoxSmall {
    background-color: #b7c7df;
    border-radius: 10px;
    padding-top: 0;
    /* margin-right: 1em;
    margin-left: 1em; */
}

.dnaDiv {
    position: absolute;
    left:24px;
    bottom: 5px;
}

.btn-dark {
  margin-bottom: 2em;
}

.form-group {
  font-weight: 50;
}

.badge-secondary {
  background-color: #54575c;
  font-weight: 100;
}

input[type="button"]:disabled {
  background-color: #dddddd;
}

/*breeding */

.featureBox {
  background-color: #b7c7df;

  position: relative;
  /* padding-left:.5em;
  padding-right:.5em;
  padding-top: 1em;
  padding-bottom: 1em; */
  border-radius: 10px;
  /* margin: 2em; */
  transition: 0.4s ease-in-out;
  box-shadow: 0px 1px 7px -2px #444444;
  text-align: center;
}

.featureBox h5 {
    font-weight: 300;
}

.featureBox:hover, .marketBox:hover {
    /* border: 1px solid #ddede1; */
    box-shadow: 0px 32px 70px 0px rgba(0, 0, 2, 0.58);
    /* box-shadow: 0px 16px 35px 0px rgba(0, 0, 2, 0.08); */
}

.marketBox {
  background-color: #b7c7df;
  border: .25rem solid #22b00c;
  /* padding-left:.5em;
  padding-right:.5em;
  padding-top: 1em;
  padding-bottom: 1em; */
  border-radius: 10px;
  /* margin: 2em; */
  transition: 0.4s ease-in-out;
  box-shadow: 0px 1px 7px -2px #444444;
  text-align: center;
}

.catalogueWindow {
  background-color: #357096;
  /* width: fit-content; */
  /* display: flex;
  justify-content: center; */
}

.catDiv {
    background-color: #b7c7df;
    /* display: flex;
    justify-content: center; */
    width: fit-content;
    /* margin: 0 auto; */
}

/* modal stuff */
.modal-header, .modal-footer  {
  background-color: #8997a1;
  border-color: #8997a1;
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1000px;
    /* max-width: 1140px; */
  }
}

#matronBox {
  /* background-color: #000000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* position: relative; */
}

#sireBox {
  /* background-color: #000000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* position: relative; */
}


.sellBanner-container {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	top: -5px;
	left: -5px;
	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 5px;
		background-color: darken(#76AB1E, 5%);
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
	}
	&:before {
		content: "";
		display: block;
		height: 10px;
		width: 5px;
		background-color: darken(#76AB1E, 5%);
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}

.sellBanner {
	width: 200px;
	padding: 15px;
	background-color: #76AB1E;
	color: #fff;
	text-align: center;
	transform: rotate(-45deg) translate(-28%, -35%);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
	text-transform: uppercase;
	text-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
